body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, #time{
  text-align: center;
  padding-bottom: 10px;
}

#root{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.upvalue{
  font-size: 0.8pc;
  padding-inline-start: 10px;
}

.flat{
  color: grey;
}

.up{
  color: green;
}

.down{
  color: red;
}